body {
	background-image: url(../img/nice_snow.png);
}

/*Header*/
/*Navbar*/
/* NAVBAR */
	.navbar {
		  border-radius: 0 !important;
		  -moz-border-radius: 0 !important;
		}
		.navbar-default {
		  background-color: rgba(118, 202, 219, 0.80);
		  border-color: #6c9fb6;
		}
		.navbar-default .navbar-brand {
		  color: #ffffff;
		}
		.navbar-default .navbar-brand:hover,
		.navbar-default .navbar-brand:focus {
		  color: #000000;
		}
		.navbar-default .navbar-text {
		  color: #ffffff;
		}
		.navbar-default .navbar-nav > li > a {
		  color: #fff;
		}
		.navbar-default .navbar-nav > li > a:hover,
		.navbar-default .navbar-nav > li > a:focus {
		  color: rgba(29, 29, 29, 0.85);
		}
		.navbar-default .navbar-nav > li > .dropdown-menu {
		  background-color: rgba(108, 159, 183, 0.81);
		}
		.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
		  color: #ffffff;
		}
		.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
		.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
		  color: #051923;
		  background-color: #6c9fb6;
		}
		.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
		  background-color: #6c9fb6;
		}
		.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
		.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		  color: #000000;
		  background-color: #6c9fb6;
		}
		.navbar-default .navbar-nav > .active > a,
		.navbar-default .navbar-nav > .active > a:hover,
		.navbar-default .navbar-nav > .active > a:focus {
		  color: #051923;
		  background-color: rgba(41, 134, 153, 0.76);
		}
		.navbar-default .navbar-nav > .open > a,
		.navbar-default .navbar-nav > .open > a:hover,
		.navbar-default .navbar-nav > .open > a:focus {
		  color: #000000;
		  background-color: #6c9fb6;
		}
		.navbar-default .navbar-toggle {
		  border-color: #6c9fb6;
		}
		.navbar-default .navbar-toggle:hover,
		.navbar-default .navbar-toggle:focus {
		  background-color: #6c9fb6;
		}
		.navbar-default .navbar-toggle .icon-bar {
		  background-color: #ffffff;
		}
		.navbar-default .navbar-collapse,
		.navbar-default .navbar-form {
		  border-color: #ffffff;
		}
		.navbar-default .navbar-link {
		  color: #ffffff;
		}
		.navbar-default .navbar-link:hover {
		  color: #051923;
		}
	
		@media (max-width: 767px) {
		  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
		    color: #ffffff;
		  }
		  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
		  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		    color: #000000;
		  }
		  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
		  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
		  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		    color: #000000;
		    background-color: #6c9fb6;
		  }
	}

/*Main*/

/*affichage des tableaux*/
 	table {
	border: medium solid #000000;
	width: auto;
	text-align: center;

	}

	td, th {
	border: thin solid lightblue;
	width: 40%;
	padding: 10px 5px 10px 5px; 
	text-align: center;
	}



/*Footer*/
	footer{
		width: 100%;
	}
	footer .container p{
		text-align: center;
	}
